
div{
  display:inline-block;
}



div.box{
border: 8px solid black;
position:relative;
}
div.AandC{
  color:red;
  font-family: 'Open Sans', sans-serif;
display:inline-block;
  border:8px solid black;
  width:120px;
  text-align: center;
  font-size:50px;
  background-color: #FFF8DC;
  height:80px;
  width:80px;
  margin:5px;

}
div.B{
  color:blue;
  font-family: 'Open Sans', sans-serif;
  border:8px solid black;
  display: inline-block;
  width:120px;
  text-align: center;
  font-size:50px;
  background-color: #FFF8DC;
  height:80px;
  width:80px;
    margin:5px;
}
