body{
  background-color:#D3C0EC;
}
h1{
  font-family: 'Monoton', cursive;
  color:#6c78d6;
}
h2{
  font-family: 'Ewert', cursive;
  color:#8282e6;
}
h3{
  color:#800080;
  font-family: 'Tillana', cursive;
}
