body {
  background-image: url("https://s-media-cache-ak0.pinimg.com/736x/1f/14/44/1f1444adc1e8dba0909a7a10c283ea63.jpg");
}

h1 {
  text-align: center;
  color: #003b6f;
  font-family: 'Permanent Marker', cursive;
}
