<!DOCTYPE html>
<html>
<head>
<title> Home Page</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
href="Home.Page.css">
<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
</head>
<body>
<h1> Home Page </h1>
<a href="abcblocks.html"class="btn btn-info" role="button">ABC building blocks</a>
<a href="Dice.html"class="btn btn-info" role="button">Dice</a>
<a href="Flag.html"class="btn btn-info" role="button">Flag #1</a>
<a href="Canadaflag.html"class="btn btn-info" role="button">Canadian flag</a>
<a href="FunkyName.html"class="btn btn-info" role="button">Funky Name</a>
<a href="Homework 1.html"class="btn btn-info" role="button">Movie website</a>
<a href="Homework 2.html"class="btn btn-info" role="button"> My Fave Song Website</a>
<a href="Minecraft.html"class="btn btn-info" role="button">Practice website</a>
<a href="ProposalWebsite.html"class="btn btn-info" role="button">Proposal website</a>
<a href="shortstory.html"class="btn btn-info" role="button">Storybook Website</a>
<a href="">




</body>
</html>
