body{
background-color: #ea9a9a;
}

div.Specials{
  text-decoration: overline;
}
h3{
font-family: 'Amita', cursive;
}
h1{
font-family: 'Aclonica', sans-serif;
color:#44094d;
}
h2{
font-family: 'Lora', serif;
color:#782e62;
}
span{
  font-family: 'Anton', sans-serif;
  font-size: 20px;
  color:#197a55;
}
