body{
background-color: #3f86d6;
}

div.Specials{
  text-decoration: overline;
}
h3{
font-family: 'Amita', cursive;
}
h1{
font-family: 'Aclonica', sans-serif;
color:#54c4d4;
}
h2{
font-family: 'Almendra Display', cursive;
color:#782e62;
}
span{
  font-family: 'Anton', sans-serif;
  font-size: 20px;
  color:#197a55;
}
